<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://i.postimg.cc/7hbsdSw5/men-at-work.png">
    <title>RemodeLog</title>
    <style>
      body {
        height: 100vh;
        overflow: auto;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: baseline;
        height: 80%;
      }

      h1 {
        all: unset;
        margin: auto auto auto auto;
        font-family: 'Caveat', cursive;
        font-size: 160px;
        font-weight: bold;
      }

      h1 a {
        all: unset;
        cursor: pointer;
      }

      h1 a:hover {
        text-shadow: 0 0 5px #FF0000;
      }

      p {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <h1><a href="/works">RemodeLog</a></h1>
    </div>
  </body>
</html>
