<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://i.postimg.cc/7hbsdSw5/men-at-work.png">
    <title>RemodeLog</title>
  </head>
  <body>
    <center style="font-family: 'Caveat', cursive; font-size:120px;">RemodeLog</center>
    <p><a href="/works">Enter</a></p
  </body>
</html>
